@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/dist/svg-arrow.css';

section {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  margin: 10px;
}

.parent-wrapper {
  display: flex;
  margin: 5px;
  padding: 3px;
  border-radius: 4px;
  background: red;
}
.parent-wrapper > .icon {
  flex-grow: 1;
  width: 16px;
  height: 16px;
}
